.contact-form {
  overflow-x: clip;
  padding-top: 11.3rem;
  padding-bottom: 6.7rem;

  &__wrapper {
    position: relative;
    gap: 2rem;
    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 55.5rem;
      height: 28.8rem;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &::before {
      right: -34rem;
      bottom: 27rem;
      background-image: url(/img/hero/hero-decor-1.svg);

      @media (max-width: em(1023)) {
        right: -2rem;
        bottom: 62rem;
      }

      @media (max-width: em(767)) {
        display: none;
      }
    }

    &::after {
      left: -5rem;
      bottom: -7rem;
      background-image: url("/img/hero/hero-decor-1.svg");

      @media (max-width: em(1023)) {
        display: none;
      }
    }

    @media (max-width: em(992)) {
      flex-direction: column;
      gap: 6.3rem;
    }
  }

  &__info {
    gap: 3.6rem;
  }

  &__title {
    font-size: 4.8rem;
    line-height: 150%;
    color: var(--clr-accent-text);
  }

  &__info-body {
    gap: 2rem;
  }

  &__links {
    gap: 2rem;
  }

  &__link {
    a {
      gap: 1.9rem;
      text-transform: uppercase;
      transition: color var(--transition);
    }

    &-icon {
      border-radius: 0.5rem;
      width: 6.2rem;
      height: 6.2rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
      background-color: var(--clr-accent-500);
      transition: background-color var(--transition);
    }

    @media (hover) {
      &:hover {
        .contact-form__link-icon {
          background-color: var(--clr-hover-700);
        }

        a {
          color: var(--clr-default-900);
        }
      }
    }
  }

  &__socials {
    gap: 1rem;
  }

  &__social {
    &-icon {
      border-radius: 0.5rem;
      width: 6.2rem;
      height: 6.2rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
      background-color: var(--clr-accent-500);
      transition: background-color var(--transition);

      @media (hover) {
        &:hover {
          background-color: var(--clr-hover-700);
        }
      }
    }
  }

  &__form {
    gap: 2rem;
  }

  &__body {
    border-radius: 0.5rem;
    padding-top: 3.4rem;
    padding-right: 3.4rem;
    padding-bottom: 3.2rem;
    padding-left: 3.4rem;
    width: 100%;
    max-width: 61.6rem;
    box-shadow: 0 10px 51px rgba(0, 0, 0, 0.1), 0 4px 19px rgba(0, 0, 0, 0.2);
    background-color: var(--clr-default-100);

    &-wrapper {
      gap: 2.5rem;
    }

    &-title {
      max-width: 36.3rem;
      font-size: 2.4rem;
      line-height: 150%;
      color: var(--clr-accent-text);
    }

    &-fields {
      gap: 1.2rem;
    }

    @media (max-width: em(992)) {
      padding-top: 2rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
      padding-left: 2rem;
      max-width: initial;
    }
  }

  &__submit {
    min-height: 6.7rem;
    font-weight: 500;
    font-size: 2rem;
  }

  &__bottom {
    gap: 1.4rem;

    &-text {
      font-size: 1.2rem;
    }
  }

  @media (max-width: em(992)) {
    padding-top: 8rem;
  }
}
