.menu {
  &__list {
    gap: 2.5rem;
  }

  &__item {
    position: relative;

    &-link {
      font-family: Manrope, sans-serif;
      font-size: 1.8rem;
      color: var(--clr-default-900);
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.4rem;
      width: 0;
      height: 0.2rem;
      background-color: var(--clr-default-100);
      transition: width var(--transition);
    }

    &.active {
      &::before {
        width: 60%;
        transition: width var(--transition);
      }
    }

    @media (hover) {
      &:hover::before {
        width: 60%;
        transition: width var(--transition);
      }
    }
  }
}
