.hero {
  overflow-x: clip;

  &__wrapper {
    position: relative;
    padding-top: 17rem;
    padding-bottom: 15rem;

    &::before {
      content: "";
      position: absolute;
      left: 24rem;
      bottom: -20rem;
      z-index: 0;
      width: 55.5rem;
      height: 28.8rem;
      background-image: url("/img/hero/hero-decor-1.svg");
      background-size: cover;
      background-repeat: no-repeat;

      @media (max-width: em(767)) {
        left: 7rem;
        bottom: -29rem;
        z-index: -1;
      }
    }

    @media (max-width: em(1023)) {
      padding-top: 47rem;
    }
  }

  &__info {
    position: relative;
    gap: 2.8rem;

    &::before {
      content: "";
      position: absolute;
      left: -24rem;
      bottom: -1rem;
      z-index: -1;
      width: 55.5rem;
      height: 28.8rem;
      background-image: url("/img/hero/hero-decor-1.svg");
      background-size: cover;
      background-repeat: no-repeat;

      @media (max-width: em(1480)) {
        display: none;
      }
    }
  }

  &__text {
    gap: 0.8rem;
    max-width: 67.5rem;

    @media (max-width: em(1280)) {
      max-width: 55rem;
    }

    @media (max-width: em(1023)) {
      max-width: initial;
    }
  }

  &__title {
    font-size: fluid(4.4rem, 2rem);
    line-height: 150%;
    color: var(--clr-accent-text);
  }

  &__description {
    max-width: 59rem;
    font-size: fluid(2rem, 1.6rem);
    line-height: 150%;
    color: var(--clr-default-430);
  }

  &__button {
    gap: 1.2rem;
    max-width: 21.5rem;

    &-text {
      font-size: 1.8rem;
      color: var(--clr-accent-text);
    }
  }

  &__image {
    position: absolute;
    right: 1rem;
    top: 4rem;
    z-index: -1;
    width: 66.5rem;

    @media (max-width: em(1023)) {
      display: none;
    }
  }

  &__image-mobile {
    position: absolute;
    z-index: -1;
    display: none;
    width: 44rem;

    @media (max-width: em(1023)) {
      left: 50%;
      right: initial;
      top: 0;
      display: block;
      transform: translateX(-50%);
    }
  }
}
