.footer {
  padding-top: 10rem;
  padding-bottom: 3rem;
  background-color: var(--clr-default-100);

  &__wrapper {
    gap: 3rem;

    @media (max-width: em(767)) {
      gap: 2rem;
    }
  }

  &__top {
    gap: 1rem;

    @media (max-width: em(1080)) {
      flex-direction: column;
      gap: 2rem;
    }

    @media (max-width: em(767)) {
      gap: 4rem;
    }

    @media (max-width: em(375)) {
      gap: 2rem;
    }
  }

  &__info {
    gap: 3rem;
    max-width: 18rem;

    &-text {
      font-size: 1.6rem;
      line-height: 150%;
      color: var(--clr-accent-text);

      @media (max-width: em(1080)) {
        text-align: center;
      }
    }

    @media (max-width: em(1080)) {
      align-items: center;
      gap: 1rem;
    }
  }

  &__menu {
    .menu__list {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.7rem;

      @media (max-width: em(1080)) {
        flex-direction: row;
        gap: 2.8rem;
      }

      @media (max-width: em(375)) {
        flex-direction: column;
        gap: 0.7rem;
      }
    }
  }

  &__policy {
    flex-direction: column;
    gap: 0.7rem;

    a {
      width: max-content;
      font-family: Manrope, sans-serif;
      transition: color var(--transition);

      @media (hover) {
        &:hover {
          color: var(--clr-hover-400);
        }
      }
    }

    &-mobile {
      display: none;

      @media (max-width: em(767)) {
        display: flex;
        padding-top: 1rem;

        a {
          font-size: 1.4rem;
        }
      }
    }

    @media (max-width: em(1080)) {
      flex-direction: row;
      gap: 1rem;
    }

    @media (max-width: em(767)) {
      display: none;
    }
  }

  &__socials {
    gap: 1.4rem;
  }

  &__social {
    a {
      svg {
        transition: fill var(--transition), stroke var(--transition);
      }
    }

    &:first-child {
      a {
        svg {
          fill: var(--clr-accent-400);
        }
      }

      @media (hover) {
        &:hover {
          a {
            svg {
              fill: var(--clr-hover-400);
            }
          }
        }
      }
    }

    &:last-child {
      a {
        svg {
          stroke: var(--clr-accent-400);
        }
      }

      @media (hover) {
        &:hover {
          svg {
            stroke: var(--clr-hover-400);
          }
        }
      }
    }
  }

  &__form {
    gap: 2rem;

    &-body {
      gap: 1.6rem;

      @media (max-width: em(375)) {
        flex-direction: column;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 150%;
      text-align: center;
      color: var(--clr-accent-text);
    }

    &-button {
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      max-width: 27rem;
    }
  }

  &__copyright {
    font-family: Manrope, sans-serif;
    font-size: 1.2rem;
    line-height: 133%;
  }

  @media (max-width: em(1080)) {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}
